<!-- =========================
    3D PORTFOLIO
========================= -->
<section
  id="portfolio-3d"
  role="application"
  aria-label="Interactive 3D portfolio"
  hidden
>
  <loading-modal id="loading-modal"></loading-modal>
  <nav-bar></nav-bar>
  <project-gallery></project-gallery>
  <about-page>
    <background-page slot="background"></background-page>
    <experience-page slot="experience"></experience-page>
    <resume-page slot="resume"></resume-page>
    <frameworks-page slot="frameworks"></frameworks-page>
  </about-page>
  <scene-inspector></scene-inspector>
  <div id="game-engine"></div>
</section>
