<nav class="visor-sidenav" aria-label="Section navigation">
  <ul>
    <li><a href="#section-intro" data-section="section-intro">INTRO</a></li>
    <li><a href="#section-about" data-section="section-about">ABOUT</a></li>
    <li>
      <a href="#section-experience" data-section="section-experience"
        >EXPERIENCE</a
      >
    </li>
    <li>
      <a href="#section-projects" data-section="section-projects">PROJECTS</a>
    </li>
    <li>
      <a href="#section-techstack" data-section="section-techstack">TECH</a>
    </li>
    <li>
      <a href="#section-contact" data-section="section-contact">CONTACT</a>
    </li>
  </ul>
</nav>
