:host {
  --main-bg: rgba(0, 0, 0, 0.6);
  --tab-bg: rgba(136, 136, 136, 0);

  --container-bg: rgba(0, 0, 0, 0, 0);
  --indicator-height: 3rem;
  --nav-button-size: 1em;
}
/* Optional: Style slotted Web Components */
::slotted(*) {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Main Wrapper */
.about {
  /* Dimensions */
  height: 100vh;
  width: 50vw;

  /*Layout*/
  position: fixed;
  /* top: 50%;
  left: 0;
  transform: translateY(-50%); */
  z-index: 15;

  margin-left: 0rem;

  /* Organising */
  display: flex;
  flex-direction: column;
  align-items: end;

  /* Styling */
  color: white;
  font-family: sans-serif;
  background: var(--main-bg);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;

  /* Animations */
  transition: all 0.3s ease;
}

/* Top area to show current tab status */
.tab {
  height: 6rem;
  width: 50%;
  background-color: var(--tab-bg);

  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Carousel properties */
.carousel {
  background-color: var(--container-bg);
  position: relative;

  width: 100%;
  height: 100%;
}

/* slides container */
.carousel-container {
  position: relative;

  width: 100%;
  min-height: calc(100% - var(--indicator-height));

  background-color: var(--container-bg);

  border-radius: 0px;
}

.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 35;

  padding: 0.5em 1em;

  cursor: pointer;

  color: rgba(255, 255, 255, 0.5);
  font-size: 1.2em;
  background: rgba(0, 0, 0, 0);

  border: none;
  border-radius: 8px;
}

/* Prev-Next Buttons */
.carousel .prev {
  left: 0rem;
}

.carousel .next {
  right: 0rem;
}

.carousel__button:hover,
.carousel__button:focus {
  background-color: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 1);
}

.carousel__button:focus {
  outline: 1px solid white;
}

/* Navigation buttons */
.carousel_nav {
  position: absolute;
  bottom: 0;

  background-color: transparent;
  height: var(--indicator-height);
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.125em 0em;
  gap: 1em;
}

/* Slides */
.carousel-track {
  height: 100%;

  margin: 0em;
  padding: 0em;

  list-style: none;
}

/* All slides */
.slide {
  position: absolute;

  width: 100%;
  height: 100%;

  opacity: 0;

  padding: 0rem;

  border-radius: 0px;

  background: transparent;

  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}

/* Active slide */
.slide[data-active] {
  opacity: 1;
  transition-delay: 0ms;
}

/* Navigation Indicator */
.carousel_indicator {
  width: var(--nav-button-size);
  height: var(--nav-button-size);

  background-color: rgba(0, 0, 0, 0.1);

  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 50%;

  cursor: none;
}

.carousel_indicator:hover {
  cursor: pointer;
}

.carousel_indicator[data-active-button] {
  opacity: 1;
  background: rgb(0, 213, 255);
}

/* Responsive adjustments */
@media (max-width: 900px) {
  .about {
    width: 100vw;
    height: 100vh;
    margin-left: 0;
    border-radius: 0 0 20px 20px;
  }

  .slide {
    min-width: 100%;
  }
}
