@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins&display=swap");

:host(experience-project) {
  display: block;

  font-familiy: "Poppins", san-serif;
}
















.root {
  width:100%;
  height:20rem;

  display:flex;
  flex-direction:row;

  justify-content:space-between;
  align-items:center;
  margin-bottom:1rem;
}

.illustration {
  width:40%;
  height:80%;
}

.card-style {
  border-radius:0.125rem;
  box-shadow:1px 1px 3px gray;
}

.card-details {
  width:50%;
  height:fit-content;
  padding: 1rem;
  margin:1rem 0rem;

  display:flex;
  flex-direction:column;
  justify-content:space-evenly;
}

::slotted([slot="illustrationImage"]) {
  height:100%;
  object-fit: contain;
 }

::slotted([slot="heading"]) {
  font-size: 1rem;
  margin-bottom: 0.5rem !important;
}
::slotted([slot="summary"]) {
  width:auto;
  font-size: 0.75rem;
  color: black !important;
  margin-bottom:0.1rem !important;
}
::slottted([slot="languages"]){
  width:100%;
  height:100%;
}
